:root {
  --background-color: linear-gradient(to bottom right, #000B43, #000A3C);
  --blue-default: #182462;
  --blue-hover: #2E3A76;
  --cream: #FFFBDA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  color: var(--cream);  
  background-image: var(--background-color);
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit; 
}

.header-blog {
  margin-bottom: 1.3rem;
}

.blog-card {
  padding: 1.3rem;
  background-color: var(--blue-default)
}

.blog-card:hover {
  background-color: var(--blue-hover);
  transition: 0.3s;
}

.blog-card-title {
  font-size: 1rem;
  font-weight: 400;
}

.home-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  grid-template-columns: .7fr max-content 1fr 30rem 2fr 30rem .7fr;
  grid-template-rows: 4rem max-content max-content 3rem max-content max-content 3rem;
  grid-template-areas:
    ". . . . . . ."
    ". logo . . . . ."
    ". name . . . . ."
    ". . . . . header-projects ."
    ". . . intro . projects ."
    ". . . section-blog . projects ."
    ". . . . . . ."
}

.logo {
  grid-area: logo;
  line-height: 2rem;
}

.name {
  grid-area: name;
  /* font-family: 'Exo', sans-serif; */
  /* text-transform: uppercase;
  letter-spacing: 0.3em; */
  font-size: 1.65rem;
}

.intro {
  grid-area: intro;
  line-height: 1.7rem;
  margin-bottom: 4rem;
}

.intro p:first-child {
  margin-bottom: 2rem;
}

.header-projects {
  grid-area: header-projects
}

.section-blog {
  grid-area: section-blog
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--blue-default)
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover {
  background-color: var(--blue-hover);
  transition: 0.3s;
}

/*media queries*/

/*tablet*/
@media screen and (max-width: 1180px) and (min-width: 671px) {

.home-grid {
  grid-template-columns: 1fr max-content 30rem 1fr; 
  grid-template-rows: 4rem max-content max-content 3rem max-content max-content 3rem 3rem max-content 4rem;
  grid-template-areas:
  ". . . ."
  ". logo . ."
  ". name . ."
  ". . . ."
  ". . intro ."
  ". . section-blog ."
  ". . . ."
  ". . header-projects ."
  ". . projects ."
  ". . . ."
}

.project-card {
  height: 15rem;
}
}

/*mobile*/
@media screen and (max-width: 670px) {
  .home-grid {
    margin: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem max-content max-content 3rem max-content max-content 3rem max-content max-content 2rem;

    grid-template-areas:
    "."
    "logo"
    "name"
    "."
    "intro"
    "section-blog"
    "."
    "header-projects"
    "projects"
    "."
  }

  .header-projects {
    margin-bottom: 1.3rem;
  }

  .projects {
    display: block;
  }

  /* tidy up */
  .projects div {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .projects div:hover {
    background-color: var(--blue-hover);
    transition: 0.3s;
  } 
  
}